.screen {
    width: 100%;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

main {
    background-color: #C4A664;
    scrollbar-width: none;
    padding: 70px 0px 0 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.screen-into {
    position: absolute;
    z-index: 1;
    height: 100dvh;
    width: 100%;
    max-width: 500px;
    animation: hidden 4s forwards 0.3s;
    background-color: #C4A664;
}

.apresentation {
    animation: moveToTop 3s cubic-bezier(0.05, 0.83, 0.43, 0.96) forwards;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.title {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
}

.title-container {
    margin: 0;
    text-align: center;
    width: 100%;
    color: #FFF;
    opacity: 0;
    padding: 0;
    animation: moveToTop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.title-nome-padrinho {
    text-align: center;
    background-size: 400% 100%;
    opacity: 0;
    padding: 0;
    animation: moveToTop 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s forwards;
    margin-bottom: 20px;
    color: #2e2206;
    text-shadow: 0 0 1px #2e2206;
}

.imagem-container {
    position: relative;
    width: 100%;
}

.imagem-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 60%;
}

.imagem-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 0 15px #040708;
}

.manual {
    background: linear-gradient(to bottom,#C4A664);
    position: relative;
    z-index: 1;
    width: 100%;
    flex-grow: 1;
    padding: 10px 10px 0 10px;
}

.manual table {
    border-radius: 5px;
}

.manual table tr {
    background-color: #9db6ba;
}

.manual table tr:nth-child(2n) {
    background-color: #fff;
}

.manuais {
    width: calc(100% + 20px);
    transform: translateX(-10px);
}

.manual .manual-padrinhos {
    background: linear-gradient(to bottom, #2f7683);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 40px;
}

.manual .manual-madrinhas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 40px;
    background: linear-gradient(135deg, rgba(245, 247, 250, 0.85) 0%, rgba(192, 194, 197, 0.85) 100%);
}

.manual-padrinhos p {
    padding: 0;
    margin: 0;
    color: #FFF;
    text-align: center;
}

.manual-madrinhas p {
    margin: 0;
    color: rgba(10, 10, 12, 0.7);
    text-align: center;
    padding: 0px 10px 20px 10px;
}

.manual .manual-padrinhos .photo-2 {
    margin-top: 20px;
    width: 90%;
    border-radius: 50%;
}

.manual .manual-madrinhas .photo-2 {
    width: calc(100% - 20px);
    transform: translate(10px, 0);
    box-shadow: 0 0 15px #370f21;
    border-radius: 15px;
}

.inspiracoes-title {
    margin: 50px 0 20px 0;
    color: #f3f3f3;
    text-align: center;
    width: 100%;
}

#inspiracoes {
    padding: 0 10px;
    width: 100%;
}

.manual .manual-padrinhos .photo-1,
.manual .manual-padrinhos .photo-3,
.manual .manual-padrinhos .photo-4 {
    border: 2px solid #212121;
    box-shadow: 0 0 15px #131313;
    margin-bottom: 15px;
    width: 100%;
}

.apresentation svg path {
    width: 100%;
    fill: white;
}

.paleta-cores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.paleta-cores .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0 20px 0;
    width: calc(100% - 20px);
    height: 70px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(125, 125, 125);
}

.paleta-cores .container p {
    margin: 0;
    padding: 0;
}

.paleta-cores .container .nome-padrinho {
    position: absolute;
    top: 0;
    left: 30px;

    background: linear-gradient(
        135deg,
        transparent,
        rgba(31, 31, 31, 0.7),
        transparent
    );

    /* Efeito vidro */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    
    border-radius: 15px;
    width: calc(100% - 60px);
    padding: 2px 6px;
    font-size: 18px;
    transform: translateY(-40%);
    z-index: 4;
}

/* Esconde por padrão */
.paleta-cores .container.selecionado::before {
    content: 'SELECIONADO';
    position: absolute;
    width: calc(100% - 4px);
    height: 66px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.7),
        rgba(0, 0, 0, 0.7)
    );


    /* Efeito vidro */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    color: #ebebeb;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;

    border-radius: inherit;
    pointer-events: none;
    z-index: 4;
}

.divisoria {
    position: absolute;
    transform: translateY(-50%);
}


/* ANIMAÇÕES */
@keyframes animacaoCores {
    0% {
        background-position: 0% 50%;
        text-shadow: 0 0 15px #fff;
    }
    50% {
        background-position: 50% 50%;
        text-shadow: 0 0 15px #56dcf3;
    }
    100% {
        background-position: 100% 50%;
        text-shadow: 0 0 15px #fff;
    }
}

@keyframes moveToTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes hidden {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
